.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  font-size: 14px;
}

th, td {
  border: 1px solid #eef2fb;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
  background-color: cadetblue;
}

th {
  background: #f7fbff;
  font-weight: 700;
  color: #123;
  font-size: 14px;
}

.completed {
    color: #fff;
    font-weight: 700;
    background-color: green;
        text-transform: capitalize;
}

.pending {
     color: #fff;
    font-weight: 700;
    background-color: grey;
        text-transform: capitalize;
}

.issue {
      color: #fff;
    background-color: #d32f2f;
  font-weight: 700;
      text-transform: capitalize;
}
.issuesDetail {
      color: #fff;
  font-weight: 700;
}
.backBtn {
     background: #3278da ;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
        font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
}

.backBtn:hover {
      background: #000 ;
}
