.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalBox {
background: #fff;
    width: 420px;
    max-width: 95%;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    min-width: 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.modalBox h3 {
  margin-bottom: 12px;
  font-size: 15px;
  color: #123;
  margin-top: 0;
}

.modalBox input,
.modalBox select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #929292;
  font-size: 13px;
  margin-bottom: 10px;
}

.modalBox input:focus,
.modalBox select:focus {
  outline: none;
  border-color: #391d38;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 10px;
}

.modalActions button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
}

.modalActions .cancelBtn {
  background: #e0e0e0;
}

.modalActions .primaryBtn {
  background: #391d38;
  color: #fff;
}

.modalActions .primaryBtn:hover {
  background: #221022;
}
.mtZero{
    margin-top: 0 !important;
}