.admin-root {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  background: #f3f5f7;
}

.admin-sidebar {
    width: 140px;
    background: #391d38;
    color: #fff;
    padding: 20px;
}

.admin-sidebar .logo {
    margin-bottom: 30px;
    max-width: 100%;
    filter: drop-shadow(1px 1px 0px #fff);
}
.admin-sidebar .logo img {
    max-width: 100%;
}
.admin-sidebar nav a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.admin-sidebar nav a.active, .admin-sidebar nav a:hover {
    background: #000000;
    color: #fff;
}
span.chat-badge {
    position: relative;
    display: inline-block;
    color: #fff;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #e53935;
    border-radius: 50%;
    text-align: center;
}
.admin-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.admin-header {
  background: #fff;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header input {
  width: 240px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.header-right {
  display: flex;
  gap: 14px;
}

.admin-content {
    padding: 20px;
    padding-bottom: 40px;
    max-height: 93vh;
    overflow-y: scroll;

}

.mobile-nav {
  display: none;
}

@media (min-width:768px) and (max-width:991px) {
  .admin-sidebar {
    width: 175px;
}
}

@media (max-width: 767px) {
  .admin-sidebar {
    display: none;
  }

  .admin-header input {
    width: 160px;
  }

.mobile-nav {
    display: flex;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #391d38;
    padding: 0px 20px;
    border-radius: 30px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    height: 53px;
}

.mobile-nav .mobile-item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease,
        color 0.3s ease;
    padding-bottom: 4px;
}

.mobile-nav .mobile-item.active {
    color: #000;
    transform: translateY(-18px);
}


.mobile-nav .mobile-item::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: #391d38;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transform: scale(0.5);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}


.mobile-nav .mobile-item.active::after {
    opacity: 1;
    transform: scale(1);
}
.admin-content {
    padding-bottom: 120px;
}
}
.card {
    background: #d8d7dc;
    border-radius: 10px;
    padding: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px, inset rgba(0, 0, 0, 0.35) 0px 2px 9px;
    border: 4px solid #e0e0e0;
}

.card h3 {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 700;
  color: #153057;
}