/* ROOT */
.admin-root {
  display: flex;
  min-height: 100vh;
  background: #f3f5f7;
}

/* SIDEBAR */
.admin-sidebar {
    width: 240px;
    background: #391d38;
    color: #fff;
    padding: 20px;
}

.admin-sidebar .logo {
    margin-bottom: 30px;
    max-width: 100%;
    filter: drop-shadow(1px 1px 0px #fff);
}

.admin-sidebar nav a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}
.admin-sidebar nav a.active, .admin-sidebar nav a:hover {
    background: #000000;
    color: #fff;
}

/* MAIN */
.admin-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.admin-header {
  background: #fff;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header input {
  width: 240px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.header-right {
  display: flex;
  gap: 14px;
}

/* CONTENT */
.admin-content {
  padding: 20px;
}

/* MOBILE NAV */
.mobile-nav {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .admin-sidebar {
    display: none;
  }

  .admin-header input {
    width: 160px;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #391d38;
    color: #fff;
    padding: 14px 20px;
    border-radius: 30px;
    gap: 22px;
  }

  .mobile-nav .center {
    background: #3ac6ff;
    color: #000;
    padding: 10px;
    border-radius: 50%;
  }
}
