/* Page wrapper */
.welcome-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: "Inter", Arial, sans-serif;
}

/* Card */
.welcome-card {
  background: #391d38;
  padding: 50px 40px;
  border-radius: 14px;
  text-align: center;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* Logo */
.logo {
    width: 265px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 0px #fff);
}

/* Heading */
.welcome-card h1 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 35px;
  font-weight: 600;
}

/* Button group */
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Base button */
.btn {
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #000;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Admin */
.btn-admin {
  background: #000;
  color: #fff;
}

/* Driver */
.btn-driver {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

/* Hover effects */
.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.login-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #000;
  font-size: 15px;
  outline: none;
}

.login-form input:focus {
  border-color: #391d38;
}

.error {
  color: #ffb3b3;
  font-size: 14px;
}
